@{
    ViewBag.Title = "Employee List";
}
@section scripts{
    <script src="~/Scripts/plugins/bootbox.min.js"></script>
    <script src="~/Scripts/plugins/mustache.min.js"></script>
    <script src="~/Scripts/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/Scripts/controllers/homeController.js"></script>
    <script src="https://kit.fontawesome.com/1afc1c7a2e.js" crossorigin="anonymous"></script>
}

<br />
<div class="row ">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-11 col-sm-11">
            <div class="col-md-4 col-sm-4">
                <input type="text" class="form-control" id="txtNameS" placeholder="Type Name...." />
            </div>
            <div class="col-md-4 col-sm-4">
                <select class="form-control" id="ddlStatusS">
                    <option value="">All</option>
                    <option value="true">Active</option>
                    <option value="false">Locked</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-4">
                <button class="btn btn-primary" id="btnSearch">Search</button>
                <button class="btn btn-default" id="btnReset">Reset</button>
            </div>
        </div>
        <div class="col-md-1 col-sm-1">
            <button id="btnAddNew" class="btn btn-success pull-right">Add employee</button>
        </div>
    </div>
</div>
<br />
<div class="row">

    <div class="col-md-12 col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Salary</td>
                    <td>Status</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody id="tblData"></tbody>
        </table>
        <div id="pagination" class="pagination"></div>
    </div>
    <!--Mustache-->
    <script id="data-template" type="x-tmpl-mustache">
        <tr>
            <td>{{ID}}</td>
            <td>{{Name}}</td>
            <td><input type="number" class="form-control txtSalary" data-id="{{ID}}" value="{{Salary}}" /></td>
            <td>{{{Status}}}</td>
            <td>
                <button class="btn btn-primary btn-edit" data-id="{{ID}}"><i class="fa fa-edit"></i></button>
                <button class="btn btn-primary btn-delete" data-id="{{ID}}"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </script>

</div>

@RenderPage("_AddUpdateModal.cshtml")
